<div class="container">
  <div class="letter-header">
    <button><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, dashboard_path, class:"btn-login" %></button>
    <h2>let's summarize it</h2>
  </div>
  <div class="bio-form-container">
    <%= form_with model: @bio, html: { class: 'bio-form', multipart: true } do |f| %>
      <div>
        <%= f.label :profile_id, 'Which profile fits position you are applying for the best?' %>
        <%= f.collection_select :profile_id, @profiles, :id, :desired_position, prompt: "Select a Profile" %>
      </div>

      <div class="drag-drop-container">
        <input type="file" id="pdf-upload" name="bio[cv_content]" accept="application/pdf" hidden>
        <label for="pdf-upload" class="drag-drop-label">
          <div class="drag-drop-text">Drop your CV in pdf like it's hot</div>
        </label>
      </div>

      <div>
        <%= f.label :details, "Anything additional you'd like to share about yourself?" %>
        <%= f.text_area :details, rows: 5, placeholder: 'Passionate about tennis, pottery, and puppies' %>
      </div>

      <%= f.submit 'Submit', class: 'btn-signup', style: 'margin-top: 1em;' %>
    <% end %>
  </div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
  var dropArea = document.querySelector('.drag-drop-container');
  var fileInput = document.getElementById('pdf-upload');
  var form = document.querySelector('.bio-form');
  var dragDropText = document.querySelector('.drag-drop-text');

  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false);
  });

  function preventDefaults (e) {
    e.preventDefault();
    e.stopPropagation();
  }

  dropArea.addEventListener('drop', handleDrop, false);

  function handleDrop(e) {
    var dt = e.dataTransfer;
    var files = dt.files;

    if (files.length > 1 || files[0].type !== 'application/pdf') {
      dragDropText.innerHTML = 'Please drop only one PDF file.';
      dragDropText.classList.add('error');
      return;
    }

    fileInput.files = files;
    dragDropText.innerHTML = `Uploaded: ${files[0].name}`;
    dragDropText.classList.remove('error');
    dragDropText.classList.add('uploaded');
  }

  form.addEventListener('submit', function(event) {
    event.preventDefault();

    var formData = new FormData(form);

    fetch(form.action, {
      method: 'POST',
      body: formData,
    }).then(response => {
      if (response.ok && response.redirected) {
        window.location.href = response.url;
      } else {
        alert('There was an error submitting the form.');
      }
    });
  });
});
</script>
