<div class="form-container">
  <%= form_with model: @profile, html: { class: 'profile-form' } do |f| %>
    <div class="profile-details">
      <%= f.label :full_name, 'Your full name' %>
      <%= f.text_field :full_name, required: true, placeholder: "John Doe" %>
      <%= f.label :desired_position, 'Your desired position' %>
      <%= f.text_field :desired_position, required: true, placeholder: "Web Developer" %>
      <%= f.label :years_of_experience, 'Your years of experience' %>
      <%= f.text_field :years_of_experience, placeholder: "5" %>
      <%= f.label :technical_skills, 'Add relevant technical skills (optional)' %>
      <%= f.text_field :technical_skill, placeholder: "Python, HTML, CSS, JavaScript" %>
      <%= f.label :soft_skills, 'Add relevant soft skills (optional)' %>
      <%= f.text_field :soft_skills, placeholder: "Coordination, flexibility" %>
      <%= f.label :details, 'Add more details about yourself which might be relevant. The more details the better.' %>
      <%= f.text_area :details, placeholder: "I am a self-learner who has been passionate about web development for the past 2 years. I have developed the apps like... ", rows: 12 %>
    </div>

    <div class="contact-and-links">
      <div class="contact-details">
        <%= f.label :phone_number, 'Phone number' %>
        <%= f.text_field :phone_number, placeholder: "Phone number" %>
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, placeholder: "email" %>
        <%= f.label :location, 'Location' %>
        <%= f.text_field :location, placeholder: "Location" %>
      </div>

      <div class="profile-links">
        <%= f.label :website, 'Website (optional)' %>
        <%= f.text_field :website %>
        <%= f.label :linkedin, 'LinkedIn (optional)' %>
        <%= f.text_field :linkedin %>
        <%= f.label :twitter, 'Twitter (X) (optional)' %>
        <%= f.text_field :twitter %>
        <%= f.label :instagram, 'Instagram (optional)' %>
        <%= f.text_field :instagram %>
        <%= f.label :github, 'GitHub (optional)' %>
        <%= f.text_field :github %>
      </div>
    </div>
    <div class="profile-buttons">
      <%= f.button :submit, value: "Submit", class: "btn-signup" %>
      <button><%= link_to "Cancel", dashboard_path, class: "btn-login" %></button>
      <% if action_name == 'edit' %>
        <button><%= link_to "Delete Profile", @profile, class: "btn-login", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></button>
      <% end %>
    </div>
  <% end %>
<div>
